<!-- encoding: utf-8 -->

<!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
          -->

        <div class="inner">
          <header>
            <a href="{{ SITEURL }}/">
              <img width="300" src="/images/logo/pws.png"/>
            </a>
            <h2>1984</h2>
          </header>
          {% if BANNERFIRST %}
          {{ BANNERFIRST }}
          {% endif %}
          <footer>
            <ul class="buttons vertical">
              <li>
                <a href="#main"
                   class="button fit scrolly">
                  Informazioni</a>
              </li>
            </ul>
          </footer>

        </div>

      </section>
